@model AgendaProj.Models.Agenda
<br>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="Create" class="btn btn-primary">Novo Chamado</a></a>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Ações <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="/Agenda/Create">Novo Chamado</a>
								<a href="/Client/Create">Novo Cliente</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Listagem <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="/Agenda">Listar Chamados</a>
								<a href="/Client">Listar Clientes</a>
							</li>
						</ul>
					</li>
                           
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
<div class="form-group">
    <form action="Edit" method="Post">

        <div class="form-group">
            <label>Cliente</label>
            <label for="client.id">Cliente</label>
                <input class="form-control" type="text" name="client.id" value="@Model.client.nome" readonly>
                <input hidden type="text" name="id" id="id" value="@Model.id"/>
        </div>
        <div class="form-group">
            <label>Descricao do Problema</label>
            <input class="form-control" rows="5" name="descricao" value="@Model.descricao">
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dataChamado">Data</label>
                <input class="form-control" type="text" name="data" value="@Model.data.ToString("dd/MM/yyyy")" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="horaInicio">Hora Início</label>
                <input class="form-control" type="time" name="horaInicio" value="@Model.horaInicio" readonly>
            </div>
            <div class="form-group col-md-12">
                <label for="horaFim">Hora Fim</label>
                <input class="form-control" type="time" name="horaFim" value="@Model.horaFim">
            </div>
        </div>
        <div class="row">
        <div class="form-group col-md-12">
            <label for="sit">Situação # @Model.client.id</label>
                <select class="form-control" name="sit.id">
                    @foreach(var sit in @ViewBag.situacao)
                    {
                        <!option value=@sit.id selected="@(sit.id == @Model.sit.id)">@sit.sit</!option>
                    }
                </select><br>
                <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>
        </div>
        
    </form>
</div>